<%- include('../partials/header') %>

<br><br>
<% if (user) { %>
  <form id="update-review-form" method="POST"
  action="/reviews/<%= review._id %>?_method=PUT">
    <label>Update Review:</label>
    <textarea name="content"><%=review.content%></textarea>
    <label>Update Rating:</label>
    <select name="rating">
      <option value="1" <%= review.rating === 1 ? 'selected' : '' %>>1</option>
      <option value="2" <%= review.rating === 2 ? 'selected' : '' %>>2</option>
      <option value="3" <%= review.rating === 3 ? 'selected' : '' %>>3</option>
      <option value="4" <%= review.rating === 4 ? 'selected' : '' %>>4</option>
      <option value="5" <%= review.rating === 5 ? 'selected' : '' %>>5</option>
    </select>
    <input class="update-review-button" type="submit" value="Update Review">
  </form>
<% } %>

<%- include('../partials/footer') %>