<%- include('../partials/header') %>

<section id="show-page">
    <div>Burger Name: <span><%= burger.name %></span></div>
    <div>Bun: <span><%= burger.bun %></span></div>
    <div>Patty: <span><%= burger.patty %></span></div>
    <% if (burger.patty === 'Beef') { %>
      <div>Temperature: <span><%= burger.temperature %></span></div>
    <% } %>
    <div>Cheese: <span><%= burger.cheese %></span></div>
    <div>Sauce: <span><%= burger.sauce %></span></div>
    <div>Toppings: <span><%= burger.toppings %></span></div>
    <div>Custom Ingredients: &nbsp;
        <% if (burger.ingredients.length) { %>
            <span><%= burger.ingredients.join(", ") %></span>
        <% } else { %>
            None
        <% } %>
    </div> 
    </section>


    <br><br>
    <% if (user) { %>
      <form id="add-review-form" method="POST"
        action="/burgers/<%= burger._id %>/reviews">
        <h2>Reviews</h2>
        <label>Review:</label>
        <textarea name="content"></textarea>
        <label>Rating:</label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
        </select>
        <input class="review-button" type="submit" value="Add Review">
      </form>
    <% } %>
    <% if (burger.reviews.length) { %>
      <table class="review-user">
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% let total = 0 %>
          <% burger.reviews.forEach(function(r) { %>
            <% total += r.rating %>
            <tr class="review-user">
              <td><%= r.userName %></td>
              <td><%= r.createdAt.toLocaleDateString() %></td>
              <td><%= r.content %></td>
              <td><%= r.rating %></td>
              <td>
                <% if (user && user._id.equals(r.userId)) { %>
                  <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                    <button class="review-button" type="submit">X</button>
                  </form>
                <% } %>
              </td>
            </tr>
          <% }); %>
          <tr>
            <td colspan="3"></td>
            <td><strong><%= (total / burger.reviews.length).toFixed(1) %></strong></td>
          </tr>
        </tbody>
      </table>
    <% } else { %>
      <h5 id="reviews-empty">No Reviews Yet</h5>
    <% } %>

  
<%- include('../partials/footer') %>