<%- include('../partials/header') %>

<section id="show-page">
    <div>Burger Name: <span><%= burger.name %></span></div>
    <div>Patty: <span><%= burger.patty %></span></div>
    <div>Cheese: <span><%= burger.cheese %></span></div>
    <div>Sauce: <span><%= burger.sauce %></span></div>
    <div>Toppings: <span><%= burger.toppings %></span></div>
    <div>Custom Ingredient: 
        <span><%- burger.ingredients.map(i =>
        `<span value="${i._id}">${i.name}</span>`
          ).join('') %></span>
    </div> 
    </section>
  
<%- include('../partials/footer') %>